<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Ingredients</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <div
      layout:fragment="content"
      class="generic-container ng-cloak"
      ng-app="myApp"
      ng-controller="addIngredientCtrl as ctrl"
      style="
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        position: relative;
        padding-bottom: 150px;
      "
    >
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
      <script>
        /* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
        /*<![CDATA[*/
        var app = angular.module("myApp", []);
        app.controller("addIngredientCtrl", function ($scope, $http, $q) {
          //   $scope.ingredientName;
          //   $scope.ingredientAmount;
          //   $scope.ingredient = {
          //     name: "",
          //     unit: "",
          //   };
          $scope.ingredient = {
            name: "",
            amount: "",
          };

          $scope.reset = function () {
            $scope.ingredient.name = "";
            $scope.ingredient.amount = "";
            if (undefined != $scope.addIngredientForm) {
              $scope.addIngredientForm.$setPristine(); // reset Form
            }
          };

          $scope.submit = function () {
            $scope.addIngredient();

          };

          $scope.addIngredient = function () {
            $scope.success = false;
            $scope.failure = false;

            $http.post("/api/v1/ingredients", $scope.ingredient).then(
              function (success) {
                $scope.success = true;
                $scope.failure = false;
              },
              function (rejection) {
                console.error("Error while adding ingredient");
              }
            );
          };

        });
        /* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
        /*]]>*/
      </script>
      <!-- Navigation header which contains the menu button to return to home page (evmurphy) -->
      <nav
        style="
          background-color: #b9a184;
          padding: 10px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
        "
      >
        <a href="/index"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="black"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            /></svg
        ></a>
      </nav>
      <!-- Heading to indicate title of the page / what page is responsible for (evmurphy) -->
      <h1 style="margin: 50px 0 50px 5px">Add New Ingredient</h1>
      <span>
        <!-- Form which handles the creation of an Ingredient object (evmurphy) -->
        <form
          style="margin: 10px 10px 10px 0px"
          ng-submit="submit()"
          name="addIngredientForm"
          class="form-horizontal"
        >
          <label
            for="ingredient_name"
            style="
              display: inline-block;
              width: 150px;
              margin-right: 30px;
              margin-left: 15px;
              text-align: left;
            "
            >Ingredient Name:</label
          >
          <input
            type="text"
            id="ingredient_name"
            ng-model="ingredient.name"
            placeholder="Enter ingredient name"
            style="
              margin: 10px 10px 10px 0px;
              display: inline;
              vertical-align: middle;
              border-radius: 5px;
              border-width: 1px;
            "
            required="true"
          />
          <br />
          <label
            for="amount"
            style="
              display: inline-block;
              width: 150px;
              margin-right: 30px;
              margin-left: 15px;
              text-align: left;
            "
            >Amount:</label
          >
          <input
            type="number"
            id="amount"
            placeholder="Enter amount"
            style="
              margin: 10px 10px 10px 0px;
              display: inline;
              vertical-align: middle;
              border-radius: 5px;
              border-width: 1px;
            "
            ng-model="ingredient.amount"
            required="true"
          />
          <!-- Submission button for saving new Ingredient object, should valid conditions be met (evmurphy) -->
          <input
            type="submit"
            style="
              border-radius: 20px;
              background: #81d58a;
              border-color: transparent;
              padding: 10px 25px 10px 25px;
              box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.281);
              position: absolute;
              right: 100px;
              bottom: 25px;
            "
            value="Save"
          />
        </form>
      </span>
      <!-- Message to appear if Recipe successfully added / created (evmurphy) -->
      <div ng-show="success">Ingredient Created</div>
      <!-- Message to appear if Recipe is not successfully created or cannot be added (evmurphy) -->
      <div ng-show="failure">Error while adding ingredient.</div>
    </div>
  </body>
</html>