<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
  <div layout:fragment="content">
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

    <script>
      /*<![CDATA[*/
      var app = angular.module("myApp", []);
      app.controller("recipeCtrl", function ($scope, $http, $q) {
    	  // Get list of current recipes in system
    	function getRecipes() {
    	  $http.get("/api/v1/recipes").then(function(response) {
				$scope.recipes = response.data;
				console.log($scope.recipes);
			});
    	  }
    	  getRecipes();
        $scope.ingredients;
        function updateIngredients() {
          $http.get("/api/v1/ingredients").then(function (response) {
            $scope.ingredients = response.data;
             
             //console.log($scope.ingredients.length);
             //console.log(Array.isArray($scope.ingredients));
          });
        }
        
        updateIngredients();
        // console.log($scope.ingredients);
        
        $scope.reset = function () {
          $scope.origrecipe = $scope.recipes;
          if (undefined != $scope.addRecipeForm) {
            $scope.addRecipeForm.$setPristine(); // reset Form
          }
        };
        
        $scope.submit = function () {
          $scope.success = false;
          $scope.failure = false;
          if($scope.origrecipe == null)
        	  console.error("Recipe is null");
          else {
	          $scope.newrecipe = {name: $scope.origrecipe.name, 
	        		 			  price: $scope.newprice, 
	        		 			  ingredients: $scope.ingredients};
	          console.log($scope.recipes);
	          $http.put("/api/v1/recipes", $scope.newrecipe).then(
	            function (success) {
	              $scope.success = true;
	              $scope.failure = false;
	              getRecipes()
	              console.log($scope.recipes);
	             },
	            function (rejection) {
	              console.error("Error while adding recipe");
	            }
	          );
          }
        };
        
        $scope.reset();
      });
      /*]]>*/
    </script>
    <div
      
      class="generic-container ng-cloak"
      ng-app="myApp"
      ng-controller="recipeCtrl as ctrl"
      style="
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        position: relative;
        padding-bottom: 150px;
      "
    >
    
      <nav
        style="
          background-color: #b9a184;
          padding: 10px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
        "
      >
        <a href="staffview.html"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="black"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            /></svg
        ></a>
      </nav>
      <h1 style="margin: 50px 0 50px 15px">Edit Recipe</h1>
      <!-- Creates Recipe list drop down menu -->
      <label
        style="
          display: inline-block;
          width: 150px;
          margin-right: 30px;
          margin-left: 15px;
          text-align: left;
        "
        for="recipe-list"
        >Recipe Name:
      </label>
	      <select
	        name="recipe-list"
	        id="recipe-list"
	        ng-model="origrecipe"
	        style="
	          margin: 0px 10px 10px 0px;
	          display: inline;
	          vertical-align: middle;
	          padding: 2px;
	          border-radius: 5px;
	          border-width: 1px;
	          width: 190px;
	        "
	        ng-options="recipe as recipe.name for recipe in recipes"
	      >
	      <option value="">Select recipe</option>
	      </select>
	      <!-- Selected Recipe: {{origrecipe.name}}, ${{origrecipe.price}}, Ingredients: {{origrecipe.ingredients}}  -->
      <!-- Form for changing price and ingredients of Recipe -->
      <div>
        
        <form ng-submit="submit()">
	        <label
	            for="amount"
	            style="
	              display: inline-block;
	              width: 150px;
	              margin-right: 30px;
	              margin-left: 15px;
	              text-align: left;
	            "
	            >Price:</label
	          >
	          <input
	            type="number"
	            id="price"
	            placeholder="Enter a price"
	            style="
	              margin: 10px 10px 10px 0px;
	              display: inline;
	              vertical-align: middle;
	              border-radius: 5px;
	              border-width: 1px;
	            "
	            ng-model=newprice
	          />
	          <!-- Creates list of ingredients with text fields to edit units -->
        	<div ng-repeat="ingredient in ingredients track by $index">
        	<label
            for="ingredient_amt"
            style="
              display: inline-block;
              width: 150px;
              margin-right: 30px;
              margin-left: 15px;
              text-align: left;
            "
            >{{ingredient.name}}:</label
          >
          <input
            id="ingredient_amt"
            type="number"
            ng-model=ingredient.amount
            style="
              margin: 10px 10px 10px 0px;
              display: inline;
              vertical-align: middle;
              border-radius: 5px;
              border-width: 1px;
            "
          /></div>
          <input
          	type="submit"
          	value="Save"
	        style="
	          border-radius: 20px;
	          background: #81d58a;
	          border-color: transparent;
	          padding: 10px 25px 10px 25px;
	          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.281);
	          position: absolute;
	          right: 100px;
	          bottom: 25px;
	        "
      />
        </form>
      </div>
      <!-- Link will allow users to transfer to Add Ingredients page (evmurphy) -->
      <a
        href="/addingredients"
        class="btn btn-warning btn-sm"
        style="
          border-radius: 20px;
          background: #d5c0a8;
          border-color: transparent;
          padding: 10px 25px 10px 25px;
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.281);
          color: black;
          position: absolute;
          right: 75px;
          bottom: 325px;
          width: 150px;
        "
      >
        Add Ingredient
      </a>
    </div>
    </div>
  </body>
</html>
