<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Pickup</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body style="background: #8e5f39">
  <div layout:fragment="content">
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

    <script>
    	/*<![CDATA[*/
        var app = angular.module("myApp", []);
        app.controller("orderPickupCtrl", function ($scope, $http, $q) {
        	$scope.orders;
        	function getOrders() {
        		$http.get("/api/v1/orders").then(function(response) {
					$scope.orders = response.data;
					console.log(response.data);
	            	console.log($scope.orders.length);
	            	//console.log(Array.isArray($scope.orders));
				}); 
        	}
        	
        	
        	$scope.order = {
        			  id: "",
        	          name: "",
        	          customerUsername: "",
        	          beverages: [],
        	          fulfilled: "",
        	 };
        	 getOrders();

            //$scope.status = "";
        	 $scope.retStatus = function retStatus(order) {
        		//console.log("THIS FUNCTION IS WORKING");
         		if (order.fulfilled) {
         			//order.fulfilled = "Ready for Pickup"
         			//console.log(order.fulfilled);
         			//$scope.status = "Ready for pickup";
         			return "Ready for pickup";
         		}
         		else {
         			//order.fulfilled = "In Progress"
         			//console.log(order.fulfilled);
         			//$scope.status = "In progress";
         			return "In progress";
         		}
         		
         	 }  
        	 
        	 $scope.printBeverage = function printBeverage(order) {
        		 return order.beverages.name;
        	 }
        	 
        	 $scope.reset = function () {
        	 	$scope.order = {
        	 		  id: "",
        	 		  name: "",
          	          customerUsername: "",
          	          beverages: [],
          	          fulfilled: "",
        	     };

        	    if (undefined != $scope.orderPickupForm) {
        	    	$scope.orderPickupForm.$setPristine(); // reset Form
        	    }
        	};
        });
        /*]]>*/
    </script>
    <div class="generic-container ng-cloak"
        ng-app="myApp"
        ng-controller="orderPickupCtrl as ctrl"
        style="
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
            position: relative;
            padding-bottom: 150px;
        "
    >
  
    <nav
      style="
        background-color: #b9a184;
        padding: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      "
    >
      <a href="/customerview.html"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="black"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          /></svg
      ></a>
    </nav>
    <h1 style="margin: 50px 0 30px 15px">Order Pickup</h1>
       	<h2 style="margin: 0 0 20px 15px">My Orders</h2>	

       <div class="gridContainer" style="position: relative; margin-left: 20px">

        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-2">
            <h4>Name On Order</h4>
            <br/>
            <option ng-repeat="order in orders" 
			value="{{order.name}}" 
			>{{order.name}}
			</option>
          </div>
          <div class="col-md-2">
            <h4>Order ID</h4>
            <br/>
            <option ng-repeat="order in orders" 
			value="{{order.id}}" 
			>{{order.id}}
			</option>
          </div>
          <div class="col-md-2">
            <h4>Status</h4>
            <br/>
           <option ng-repeat= "order in orders" 
           >{{retStatus(order)}}</option>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>