E<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add a Recipe</title>
    <style>
      input.ng-valid {
        background-color: lightgreen;
      }

      input.ng-dirty.ng-invalid-required,
      input.ng-dirty.ng-invalid-number {
        background-color: red;
      }

      input.ng-dirty.ng-invalid-min {
        background-color: yellow;
      }
    </style>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

    <script>
      /*<![CDATA[*/
      var app = angular.module("myApp", []);
      app.controller("addRecipeCtrl", function ($scope, $http, $q) {
        $scope.ingredients;
        function updateIngredients() {
          $http.get("/api/v1/ingredients").then(function (response) {
            $scope.ingredients = response.data;
            //console.log(response.data);
            //console.log($scope.ingredients.length);
            //console.log(Array.isArray($scope.ingredients));
          });
        }
        $scope.recipe = {
          name: "",
          price: "",
          ingredients: [],
        };
        updateIngredients();

        // console.log($scope.ingredients);
        $scope.reset = function () {
          $scope.recipe = {
            name: "",
            price: "",
            ingredients: [],
          };

          if (undefined != $scope.addRecipeForm) {
            $scope.addRecipeForm.$setPristine(); // reset Form
          }
        };

        $scope.submit = function () {
          $scope.recipe.ingredients = [...$scope.selectedIngredients];
          $scope.recipe.name = $scope.recipename;
          $scope.recipe.price = $scope.recipeprice;
          //console.log($scope.recipe.ingredients);
          console.log($scope.recipe);
          $scope.addRecipe();
          //console.log($scope.recipe);
          $scope.reset();
        };

        $scope.addRecipe = function () {
          $scope.success = false;
          $scope.failure = false;

          $http.post("/api/v1/recipes", $scope.recipe).then(
            function (success) {
              $scope.success = true;
              $scope.failure = false;
            },
            function (rejection) {
              console.error("Error while adding recipe");
            }
          );
        };

        //$scope.inventoryIngredients = [...$scope.ingredients];
        //https://stackoverflow.com/questions/14514461/how-do-i-bind-to-list-of-checkbox-values-with-angularjs
        $scope.selectedIngredients = [];
        $scope.toggleSelection = function toggleSelection(ingredient) {
          var idx = $scope.selectedIngredients.indexOf(ingredient);
          if (idx > -1) {
            $scope.selectedIngredients.splice(idx, 1);
          } else {
            $scope.selectedIngredients.push(ingredient);
          }
        };

        $scope.reset();
      });
      /*]]>*/
    </script>

    <div
      ng-app="myApp"
      class="generic-container ng-cloak"
      ng-controller="addRecipeCtrl as ctrl"
      style="position: relative"
    >
      <div>
        <!-- Navigation header which contains the menu button to return to home page (evmurphy) -->
        <nav
          style="
            background-color: #b9a184;
            padding: 10px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
          "
        >
          <a href="staffview.html"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="black"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
              /></svg
          ></a>
        </nav>
        <!-- Heading to indicate the purpose / function of the page (evmurphy) -->
        <h1 style="margin: 50px 0 50px 15px">Add a Recipe</h1>
        <div class="addRecipeContainer">
          <!-- Form to be used to create a new recipe object -->
          <form
            ng-submit="submit()"
            name="addRecipeForm"
            class="form-horizontal"
          >
            <div class="row">
              <div class="form-group col-md-12">
                <label class="col-md-2 control-lable" for="file">Name</label>
                <div class="col-md-7">
                  <input
                    type="text"
                    ng-model="recipename"
                    name="name"
                    class="name form-control input-sm"
                    placeholder="Enter recipe name"
                    required="0"
                    style="width: 200px"
                  />
                  <div class="has-error" ng-show="addRecipeForm.$dirty">
                    <span ng-show="addRecipeForm.name.$error.required"
                      >This is a required field.</span
                    >
                    <span ng-show="addRecipeForm.name.$invalid"
                      >This field is invalid.</span
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-12">
                <label class="col-md-2 control-lable" for="file">Price</label>
                <div class="col-md-7">
                  <input
                    type="number"
                    ng-model="recipeprice"
                    name="price"
                    class="price form-control input-sm"
                    placeholder="Enter recipe price"
                    required="0"
                    min="0"
                    style="width: 200px"
                  />
                  <div class="has-error" ng-show="addRecipeForm.$dirty">
                    <span ng-show="addRecipeForm.price.$error.required"
                      >This is a required field</span
                    >
                    <span ng-show="addRecipeForm.price.$error.min"
                      >Minimum amount is 0</span
                    >
                    <span ng-show="addRecipeForm.price.$invalid"
                      >This field is invalid
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            Select the ingredients to add: <br />
            <div ng-repeat="ingredient in ingredients track by $index">
              <input type="checkbox" ng-click="toggleSelection(ingredient)" />
              <tt> {{ingredient.name}}</tt>
              <!-- remove the extra spaces -->
            </div>
            <!-- https://stackoverflow.com/questions/14514461/how-do-i-bind-to-list-of-checkbox-values-with-angularjs  -->
            Selected Ingredients:
            <div ng-repeat="ingredient in selectedIngredients track by $index">
              <div>{{ingredient.name}}</div>
              <input
                type="text"
                name="units"
                value="{{ingredient.name}}"
                ng-model="ingredient.amount"
              />
            </div>
            <div class="row">
              <div class="form-actions floatRight">
                <input
                  type="submit"
                  value="Submit"
                  class="btn btn-primary btn-sm"
                  ng-disabled="addRecipeForm.$invalid"
                  style="
                    border-radius: 20px;
                    background: #81d58a;
                    border-color: transparent;
                    padding: 10px 25px 10px 25px;
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.281);
                    color: black;
                  "
                />
                <button
                  type="button"
                  ng-click="reset()"
                  class="btn btn-warning btn-sm"
                  ng-disabled="addRecipeForm.$pristine"
                  style="
                    border-radius: 20px;
                    background: #81d58a;
                    border-color: transparent;
                    padding: 10px 25px 10px 25px;
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.281);
                    color: black;
                  "
                >
                  Reset Form
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- Message to appear if Recipe successfully added / created (evmurphy) -->
        <div ng-show="success">Recipe Created</div>
        <!-- Message to appear if Recipe is not successfully created or cannot be added (evmurphy) -->
        <div ng-show="failure">Error while adding recipe.</div>
      </div>
    </div>
  </body>
</html>
