<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
  <div layout:fragment="content">
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

    <script>
    	/*<![CDATA[*/
        var app = angular.module("myApp", []);
        app.controller("signupCtrl", function ($scope, $http, $q) {
            $scope.user = {
                userType = "",
                username = "",
                password = ""
            };
        $scope.reset = function () {
            $scope.user.userType = "";
            $scope.user.username = "";
            $scope.user.password = "";
            if (undefined != $scope.signUpForm) {
                $scope.addRecipeForm.$setPristine(); // reset Form
            }
        };
        
        function submit() {
            $scope.success = false;
            $scope.failure = false;

            $http.put("/api/v1/users", $scope.user).then(
                function (success) {
                    $scope.success = true;
                    $scope.failure = false;
                },
                function (rejection) {
                    console.error("Error while adding recipe");
                }
            );
        };

        $scope.reset();
        });
        /*]]>*/
    </script>
    <div
    
    class="generic-container ng-cloak"
    ng-app="myApp"
    ng-controller="signupCtrl as ctrl"
    style="
      font-family: 'Times New Roman', Times, serif;
      font-size: 15px;
      position: relative;
      padding-bottom: 150px;
    "
  >
  
    <nav
      style="
        background-color: #b9a184;
        padding: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      "
    >
      <a href="/index"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="black"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          /></svg
      ></a>
    </nav>
    <h1 style="margin: 50px 0 50px 15px">Signup</h1>
        <form ng-submit="submit()">
        
        </form>
  </body>
</html>